body {
    padding: 0;
    margin: 0;
  }
  
  #page {
    display: flex;
        & aside {
            width: 30%;
            background-color: #7451eb;
            color: #ffffff;   
                & img {
                    border-radius: 50%;
                    width: 50%;
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                  }
                & h3 {
                    background-color: white;
                    color: #7451eb;
                    text-align: center;
                    padding: 5px;
                  }
          }
          & p.content {
            margin-left: 10%;
            font-size: 1.2em;
          }
          & main {
            width: 70%;
          }
  }